@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary:#000;
    --color-primary-shade:#000D60;
    --color-primary-tint:#CCD3FC;
    --color-primary:#000;
    --color-primary-shade:#000D60;
    --color-primary-tint:#CCD3FC;
  
  
    --color-secondary:#FAB30A;
    --color-secondary-shade:#00B871;
    --color-secondary-tint:#36F46B;
  
    --color-white:#fff;
    --color-white-shade:#EDF3FC;
  }

  /* If the user's system preference is dark */
  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary:#000;
      --color-primary-shade:#000D60;
      --color-primary-tint:#CCD3FC;
      --color-primary:#000;
      --color-primary-shade:#000D60;
      --color-primary-tint:#CCD3FC;
    
    
      --color-secondary:#FAB30A;
      --color-secondary-tint:#FFF7DE;
      /* --color-secondary-shade:#00B871;
      --color-secondary-tint:#36F46B; */
    
      --color-white:#fff;
      --color-white-shade:#F2F2F2;
    }
  }
  
  /* If the user switchs dark mode */
  :root[data-theme="dark"] {
    --color-primary:#000;
    --color-primary-shade:#000D60;
    --color-primary-tint:#CCD3FC;
    --color-primary:#1D4ED8;
    --color-primary-shade:#000D60;
    --color-primary-tint:#CCD3FC;
  
  
    --color-secondary:#FAB30A;
    --color-secondary-shade:#00B871;
    --color-secondary-tint:#36F46B;
  
    --color-white:#fff;
    --color-white-shade:#EDF3FC;
  }

  /* If the user switchs light mode */
  :root[data-theme="light"] {
    --color-primary:#000;
    --color-primary-shade:#000D60;
    --color-primary-tint:#CCD3FC;
    --color-primary:#1D4ED8;
    --color-primary-shade:#000D60;
    --color-primary-tint:#CCD3FC;
  
  
    --color-secondary:#FAB30A;
    --color-secondary-shade:#00B871;
    --color-secondary-tint:#36F46B;
  
    --color-white:#fff;
    --color-white-shade:#EDF3FC;
  }
}

body{
  background-color: var(--color-white-shade);
}
